@model IEnumerable<GreenOut.Models.Category>
@{
    ViewData["Title"] = "Home";
}

<div class="px-4 py-5 text-center">
    
    <h1 class="display-5 fw-bold text-body-emphasis">Embrace the Outdoors, Sustain the Planet</h1>
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a  asp-area="" asp-controller="Store" asp-action="Index"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Shop Now</button></a>
            
        </div>
    </div>
</div>

<div class="container-fluid overflow-auto">
    <div class="row flex-row flex-nowrap">
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-5">Mother Nature Made us Do it.</h2>
        <p class=" text-body-emphasis">
            Our planet is in need of care, and we believe it's our responsibility to contribute to its well-being.
            GreenOut is more than just a store, it's a commitment to sustainable living. 
            We understand the delicate balance of our ecosystem and strive to offer products that minimize our impact on the environment. 
            From recycled materials to eco-friendly production processes, we're dedicated to providing outdoor gear that aligns with nature's rhythm. 
            Join us in making a positive difference.</p>
    </div>
    <div class="col-md-5 bg-primary">
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Mother Nature Made us Do it.</h2>
        <p class=" text-body-emphasis">
            Our planet is in need of care, and we believe it's our responsibility to contribute to its well-being.
            GreenOut is more than just a store, it's a commitment to sustainable living.
            We understand the delicate balance of our ecosystem and strive to offer products that minimize our impact on the environment.
            From recycled materials to eco-friendly production processes, we're dedicated to providing outdoor gear that aligns with nature's rhythm.
            Join us in making a positive difference.
        </p>
    </div>
    <div class="col-md-5 order-md-1 bg-primary">
    </div>
</div>